@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

#box {
  height: 300px;
  overflow: scroll;
}

#box::-webkit-scrollbar {
  display: none;
}

#desc {
  height: 75px;
}
